<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="jctmEntities" connectionString="metadata=res://*/Entities.EFModel.csdl|res://*/Entities.EFModel.ssdl|res://*/Entities.EFModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=jcmns.database.windows.net;initial catalog=jctm;persist security info=True;user id=jcmns;password=mbs43v3R!;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>